/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    padding: 0%;
    margin: 0%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    height: 100vh;
    width: 100%;
    background-image: url(4238568.jpg);
    background-size: cover;
    background-position: center;

}nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
} 
.logo{
    color: white;
    font-size: 35px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.logo:hover {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
    cursor: pointer;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold ;
    font-size: 20px;
}
nav ul li a:hover{
    color: orangered;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.button1{
    border: none;
    background-color: rgb(223, 12, 170);
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
.button1:hover{
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    cursor: pointer;
}
.button2{
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 25px;
   color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 42.5%;
    margin-top: 10%;

}

.button2:before {
    content: '';
    background: -o-linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    -webkit-animation: glowing 20s linear infinite;
            animation: glowing 20s linear infinite;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}.button2:active {
    color: #000
}

.button2:active:after {
    background: transparent;
}

.button2:hover:before {
    opacity: 1;
}

.button2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@-webkit-keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}          
.info{
    margin-top: 100px;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    color: orangered;
    font-size: 75px;
   margin: 100px;
   padding: 0 .25rem;
   -webkit-animation: grow-dim 1.5s ease infinite;
           animation: grow-dim 1.5s ease infinite;
}
@-webkit-keyframes grow-dim {
  0%, 10%, 20% ,30%,40%,50%,60%,70%,80%,90%,100% {
    color: #333;
  }
  50% {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }

75% {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
100% {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
}
@keyframes grow-dim {
  0%, 10%, 20% ,30%,40%,50%,60%,70%,80%,90%,100% {
    color: #333;
  }
  50% {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }

75% {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
100% {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
}

  